<div class="titulo-pagina">
    <span>Mi Perfil</span>
</div>

<div class="card text-center" style="width: 50%;">
    <div class="card-body">
        <h5 class="card-title"><i class="fas fa-user"></i> Datos Personales</h5>
        <p class="card-text">
        <div class="user-data">
            <label for="nombre"><b><u>Nombre y Apellido:</u></b> @ViewBag.Nombre @ViewBag.Apellido</label>
        </div>
        <div class="user-data">
            <label for="mail"><b><u>Mail:</u></b> @ViewBag.Mail</label>
        </div>
        </p>
    </div>
</div>