<div class="">
    <div class="row">
        <div class="col-sm">
            <h4 class="title-page">Solicitá tu turno</h4>
            <form method="POST" action='@Url.Action("TurnoEnviado", "Home")'>

              
                <div class="form-group">
        <label for="obraSocial" style="width:50%;">Especialidad</label>
        <select class="form-control" style="width:50%;" name="especialidad">
         @foreach (var os in ViewBag.Especialidades){
             <option >@os.Nombre</option>
         }
         <option>Privado</option>
      
    </select>
  </div>

                <button type="submit" id="pedir-turno" class="btn btn-dark">Enviar</button>
            </form>
        </div>
    </div>
</div>