@model IEnumerable<Models.Hospital.Turno>

 <div class="container-fluid">

     <div class="row">

         @foreach (var turno in Model ) {

            <ul>

                <li>ID: @turno.ID</li>
                <li>Especialidad: @turno.Especialidad</li>

            </ul>


         }



     </div>


  </div>