<div class="row">
    <div class="col-sm" id="authority-list">
       
        
    </div>


    <div class="col-sm">
        <img style="width: 500px;" src="~/Imagenes/medicos-autoridades.jpg">
    </div>
</div>
